---
# Only the main Sass file needs front matter (the dashes are enough)
---

ul {
  list-style: none;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  gap: 25px;
}
li {
  max-width: 228px;
  margin-top: 10px;
  margin-bottom: 10px;
}
li ul {
  max-width: 228px;
  flex-direction: column;
  gap: 0px;
}
li ul li {
  margin-top: 0px;
  margin-bottom: 0px;
}
li ul li:last-child {
  font-weight: 700;
}
li img {
  width: 228px;
}
h2 {
  margin-top: 50px;
}